
.grid-title{
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 15px;
    fill: black;
    opacity: 0.5;
    padding-left: 140px;
    margin-bottom: 12px;
}

.control-container{
    width: 380px;
    padding-top: 32px;
    /* flex: 1; */
}
  
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
select, label {
    font-size: 14px;
}

.group-label {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 20px;
  fill: black;
  /* dominant-baseline: middle; */
}

.controls{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dropdown{
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.drop-label{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 14px;
    fill: black;
    opacity: 0.5;
}
  
.dropdown-button{
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
}

.dropdown-button:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    background-color: #F8F8F8;
    padding-top: 8px;
    padding-bottom: 8px;
}

.divid-line{
    height: 1px !important;
    background-color: #E0E0E0;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    margin: 8px 16px;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown-content div{
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.24);
}

.dropdown-content div:hover{
    background-color: #EFEFEF;
    cursor: pointer;
    color: black;
}

.icon{
    width: 14px;
    height: 14px;
}

.icon.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

.legend-container{
    height: 170px;
    width: 160px;
    /* background-color: #F8F8F8; */
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    /* margin-left: 20px; */
}

.legend-title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5e5e5e;
    /* padding-left: 16px; */
    padding-bottom: 8px;
}

.hover-tooltip{
    width: 200px;
    /* height: 100px; */
    position: absolute; 
    pointer-events: none; 
    /* padding: 12px 0px;  */
    padding: 12px;
    background:#F8F8F8; 
    /* border: 1px solid #ccc;  */
    border-radius: 4px; 
    font-size: 14px; 
    font-family: 'Inter', sans-serif; 
    display: none; 
    box-shadow: 0 1px 3px rgba(94, 94, 94,0.2);
    color: rgb(94, 94, 94);
}

svg rect:hover {
    cursor: pointer;
}

.statement-pop {
    color: rgb(94, 94, 94);
    background: rgba(248, 248, 248, 0.9);
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 0 8px 20px rgba(94, 94, 94, 0.2);
    z-index: 1000; 
    border-radius: 4px; 
    font-size: 14px; 
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.statement-pop-blanket{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.8);
    z-index: 999; 
}
  
.pop-close-button {
    float: right;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.statement-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.statement-pop .statement-content {
    flex: 1;
    clear: both;
    margin-top: 16px;
    /* white-space: pre-wrap; */
    font-family: "Inter", sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow-y: scroll;
}

.tooltip-header{
    display: flex;
    justify-content: space-between;
}
.tooltip-title{
    font-weight: 700;
}

.inmate-no{
    font-size: 12px;
    font-weight: 100;
}

.tooltip-entry{
    margin: 8px 0px;
    font-weight: 100;
    color: rgb(94, 94, 94, 0.8)
}

.entry-bold{
    font-weight: 400;
    color: rgb(94, 94, 94, 1);
    margin-left: 4px;
}

.spacer{
    flex: 1;
}
