body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
  
svg {
    /* background: #f9f9f9; */
    background: #fce6e6;
    display: block;
    border: 1px solid #ccc;
}
  
button {
    margin-bottom: 10px;
}
  