@import url('https://fonts.googleapis.com/css2?family=Inter:100&display=swap');

body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #fff;
}
  
.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
  
svg {
    /* background: #f9f9f9; */
    /* border: 1px solid #ccc; */
}
  
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
select, label {
    font-size: 14px;
}


.group-label {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 20px;
  fill: black;


  /* dominant-baseline: middle; */
}


  